@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

#join-button {
    position: absolute;
    right: 100px;
    z-index: 2;
    height: 50px;
    width: 120px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 50px;
    background-color: var(--primary-color);
    text-align: center;
    align-content: center;
    border-radius: 5px;
    opacity: 100%;
    border: 5px solid black;
}

#join-button:hover {
    cursor: pointer;
    width: 130px;
    height: 60px;
    right: 95px;
    margin: 45px;
}

.hero {
    height: 150px;
    opacity: 70%;
}

.hero img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    clip-path: url(#waveClip);
}

#mission-statement {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-container {
    position: relative;
    overflow: hidden;
    z-index: 1;
    align-self: center;
}

#mission-statement .text-container {
    left: 120px;
}

.shape {
    background-color: orangered;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#product-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#product-info .text-container {
    right: 160px;
}

#team-members {
    margin: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#team-members div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

#team-members div.fade-out {
    opacity: 0;
}

#member-image {
    width: 200px;
    height: 300px;
    justify-self: right;
    padding: 20px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#team-members div section {
    justify-self: left;
    padding: 20px;
    width: 60%;
}