:root {
    --primary-color: #C4A29E;
    --secondary-color: #F1F5F2;

    --background-color: #FFC6AC;

    --header-font: Verdana;
    --paragraph-font: Georgia;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: var(--header-font);
}

header div {
    display: flex;
    align-items: center;
}

.logo-title {

}

header img {
    width: 100px;
    border-radius: 45%;
    padding: 20px;
}

.navigation-tab {
    width: 600px;
    display: flex;
}

.navigation-tab a {
    padding-right: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    padding: 20px;
}